* {
    margin: 1px;
    padding: 3px;
    box-sizing: border-box;
}
.course{
    display: flex;
    background-color: #f9f9f9;
    padding: 10px;
    width: 30%;
    height: 200px;
    margin-bottom: 20px;
}

.course h2{
    color:#333;
}
.course p{
    color: #666;
}