nav {
    background-color: blue;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
nav ul li {
    //margin: 10px;
    color: white;
    display: inline; /* Để các mục trong danh sách được hiển thị cạnh nhau */
    border: 1px solid blue;
    padding: 10px 23px 10px 23px;
    background-color: blue;
}
#main {
    border-right: 1px solid white;
}