
h2 {
    margin-top: 20px;
    margin-left: 10px;
}

form {
    margin-bottom: 20px;
    width: 400px;
    margin: 0 auto; // Căn form giữa màn hình
    padding: 20px;
    background-color: #f3cdd4;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="file"],
button {
    width: 95%;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

img {
    display: block;
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 5px;
}
